/*primary button */
.btn-primary {
  --bs-btn-font-weight: var(--font-weight-bold);
  --bs-btn-font-size: var(--font-size-button);
  font-size: var(--font-size-button);
  --bs-btn-color: var(--btn-primary-text);
  --bs-btn-bg: var(--btn-primary-bg);
  --bs-btn-border-color: var(--btn-primary-border);

  --bs-btn-hover-color: var(--btn-primary-hover-text);
  --bs-btn-hover-bg: var(--btn-primary-hover-bg);
  --bs-btn-hover-border-color: var(--btn-primary-hover-border);

  --bs-btn-active-color: var(--btn-primary-active-text);
  --bs-btn-active-bg: var(--btn-primary-active-bg);
  --bs-btn-active-border-color: var(--btn-primary-active-border);

  --bs-btn-disabled-color: var(--btn-primary-disabled-text);
  --bs-btn-disabled-bg: var(--btn-primary-disabled-bg);
  --bs-btn-disabled-border-color: var(--btn-primary-disabled-border);

  --bs-btn-border-radius: 60px;
  line-height: var(--line-height-button);

  display: flex;
  height: 44px;
  text-align: center;
  justify-content: center;
}

/* secondary button */
.btn-secondary {
  --bs-btn-font-weight: var(--font-weight-bold);
  --bs-btn-font-size: var(--font-size-button);
  font-size: var(--font-size-button);
  --bs-btn-color: var(--btn-secondary-text);
  --bs-btn-bg: var(--btn-secondary-bg);
  --bs-btn-border-color: var(--btn-secondary-border);

  --bs-btn-hover-color: var(--btn-secondary-hover-text);
  --bs-btn-hover-bg: var(--btn-secondary-hover-bg);
  --bs-btn-hover-border-color: var(--btn-secondary-hover-border);

  --bs-btn-active-color: var(--btn-secondary-active-text);
  --bs-btn-active-bg: var(--btn-secondary-active-bg);
  --bs-btn-active-border-color: var(--btn-secondary-active-border);
  --bs-btn-border-radius: 60px;
  line-height: var(--line-height-button);

  display: flex;
  height: 44px;
  text-align: center;
  justify-content: center;
}

/* btn-width utilities */
.btn-131 {
  width: 131px;
}
.btn-150 {
  width: 150px;
}
.btn-155 {
  width: 155px;
}
.btn-195 {
  width: 195px;
}

@media (min-width: 992px) {
  .btn-lg-131 {
    width: 131px;
  }
  .btn-lg-155 {
    width: 155px;
  }
  .btn-lg-195 {
    width: 195px;
  }
  .btn-lg-275 {
    width: 275px;
  }
}

/* fav button */
.btn-fav {
  background: var(--btn-fav-bg);
  border-radius: 50%;
  width: var(--btn-fav-size);
  height: var(--btn-fav-size);
  color: var(--btn-fav-color);
  border: none;
  cursor: pointer;
  transition: color 160ms ease-in-out;
}

.btn-fav .icon-star {
  width: var(--btn-fav-icon-size);
  height: var(--btn-fav-icon-size);
}

.btn-fav[aria-pressed='true'],
.btn-fav[aria-pressed='true']:hover,
.btn-fav[aria-pressed='true']:active {
  color: var(--btn-fav-color-active);
}

.btn-fav:not([aria-pressed='true']):hover,
.btn-fav:not([aria-pressed='true']):active {
  color: var(--btn-fav-color);
  opacity: 0.85;
}

.btn-content {
  display: flex;
  align-items: center;
}
