/* bottom nav bar */
.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bottom-nav-bg);
  box-shadow: var(--bottom-nav-shadow);
  padding: 18px 30px;
  z-index: 1000;
}
