/* global css variables */

:root {
  /* colors */
  --primary-grey: #f9f9f9;
  --secondary-grey: #5e5e5e;
  --primary-black: #353535;

  /* font families */
  --font-family-base: 'Lato', sans-serif;
  --placeholder-font-family: 'Montserrat', sans-serif;

  /* button tokens (primary) */
  --btn-primary-text: #ffffff;
  --btn-primary-bg: #f22539;
  --btn-primary-border: #f22539;
  --btn-primary-hover-text: #ffffff;
  --btn-primary-hover-bg: #c00e20;
  --btn-primary-hover-border: #c00e20;
  --btn-primary-active-text: #ffffff;
  --btn-primary-active-bg: #c00e20;
  --btn-primary-active-border: #c00e20;
  --btn-primary-disabled-text: #ffffff;
  --btn-primary-disabled-bg: #bfbfbf;
  --btn-primary-disabled-border: #bfbfbf;

  /* font weights */
  --font-weight-bold: 700;

  /* component sizes */
  --font-size-button: 18px;
  --line-height-button: 100%;

  /* form tokens */
  --placeholder-color: #bfbfbf;

  /* fav button tokens */
  --btn-fav-bg: #f5f5f5;
  --btn-fav-color: #bfbfbf;
  --btn-fav-color-active: #eca539;
  --btn-fav-size: 44px;
  --btn-fav-icon-size: 26px;

  /* form focus tokens */
  --form-focus-color: #eca539; /* border color on focus */
  --form-focus-ring: rgba(236, 165, 57, 0.35); /* outer glow */
  --form-focus-ring-width: 3px;

  /* bottom nav tokens */
  --bottom-nav-bg: #ffffff;
  --bottom-nav-shadow: 0px -5px 4px 0px #0000000d;

  /* secondary button (gray) */
  --btn-secondary-text: #ffffff;
  --btn-secondary-bg: #bfbfbf;
  --btn-secondary-border: #bfbfbf;
  --btn-secondary-hover-text: #ffffff;
  --btn-secondary-hover-bg: #a7a7a7;
  --btn-secondary-hover-border: #a7a7a7;
  --btn-secondary-active-text: #ffffff;
  --btn-secondary-active-bg: #9a9a9a;
  --btn-secondary-active-border: #9a9a9a;
}
